:root {
    --backgroundCol: #DFDCD7;
    --borderCol: rgb(98, 98, 98);
    --font: Bahnschrift, 'DIN Alternate', sans-serif;
    --widthTransition: width 1.2s ease;
    --heightTransition: height 1.2s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}

main {
    background-color: #ddd;
    min-height: 100vh;
    width: 100%;
}

.Display {
    width: 100%;
    height: 100%;
    padding-top: 25px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}

/**fffaf0 */

.paper {
    background-color: #fffaf0     ;
    display: flex;
    flex-direction: column;
    width: 0;
    height: fit-content;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin-bottom: 0px;
    transition: var(--widthTransition), var(--heightTransition);
    overflow: hidden;
}

.paperContent {
    height: fit-content;
    width: 100%;
    transition: var(--heightTransition);
    overflow: hidden;
    box-sizing: border-box;
}

.topContainer {
    padding-bottom: 5px;
    height: 0;
    transition: var(--heightTransition);
}

.paperName {
    color: #87B072;
    font-family: 'Gill Sans MT';
    font-weight: 100;
    font-size: 36px;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
    width: 0;
    height: 0;
    text-wrap: nowrap;
    overflow: hidden;
    transition: var(--widthTransition), var(--heightTransition);
}

.contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
    margin-bottom: 10px;
    width: 0;
    height: auto;
    transition: var(--widthTransition), var(--heightTransition);
    text-wrap: nowrap;
    overflow: hidden;
}

.contacts a {
    color: #0000EE;
    text-decoration: underline;
    transition: var(--widthTransition);
    text-wrap: nowrap;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    width: 0;
}

.contacts span {
    color: #000;
}

.bottomContainer {
    height: fit-content;
    transition: var(--heightTransition);
    overflow: hidden;
}

.section {
    margin-bottom: 8px;
    height: fit-content;
    overflow: visible;
    transition: var(--heightTransition);
}

.header {
    display: flex;
    justify-content: left;
    align-content: left;
    width: 100%;
    height: 0;
    transition: height 0.4s ease;
    overflow: hidden;
    text-wrap: nowrap;
}

.header p {
    font-family: 'Gill Sans MT';
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: normal;
}

.header hr {
    flex-grow: 0;
    transition: flex-grow 1.6s ease;
    border: none;
    height: 1px;
    background-color: #70AD47;
    margin-left: 13px;
    margin-top: 9px;
}

.details {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    height: 0;
    overflow: hidden;
    transition: var(--heightTransition);
    margin-left: 45px;
    padding-top: 3px;
    margin-right: 45px;
}

.item {
    width: 0;
    overflow: hidden;
    text-wrap: nowrap;
    transition: var(--widthTransition);
}

.item-title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 7px;
}

.date {
    text-align: right;
}

.item-description {
    padding-top: 5.5px;
    margin-left: 20px;
    letter-spacing: -.3px;
    overflow: hidden;
}

.item-description ul {
    list-style-type: disc;
    margin-left: 20px;
    text-wrap: pretty;
    overflow: visible;
}

.item-description li {
    padding-bottom: 3px;
    padding-top: 2px;
}

.item-description p {
    margin-left: 5px;
    line-height: 21px;
}

button.collapsible {
    background: none;
    border: none;
    text-align: left;
    width: 100%;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

.button_arrow {
    font-size: 18px;
    font-weight: bold;
    float: left;
    margin-top: 6px;
    margin-left: 15px;
    height: 0;
    transition: height 1.8s ease; 
    display: flex;
    align-items: center; 
    overflow: hidden;
}

.skills {
    text-align: center;
    margin-top: 5px;
}

.extended-content-container {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    margin-left: -20px;
    display: flex;
    justify-content: center;
}

.extended-content {
    width: fit-content;
    height: auto;
    text-align: center;
    border-color: #000;
}

.extended-content iframe {
    border: none;
}

.dashboard {
    width: 1050px;
    height: 560.25px;
    align-items: center;
    border-color: #000;
    border-radius: 15px;
    box-shadow: 0px 2px 5px 4px rgba(0, 0, 0, 0.3);
}

.thumbnail {
    display: flex;
    flex-direction: row;
    padding-right: 20px;
}

.thumbnail img {
    width: 180px;
    height: 110px;
    border-radius: 10px;
    border-color: #9a1010;
    border-width: 3px;
    box-shadow: 0px 2px 5px 4px rgba(0, 0, 0, 0.3);
    margin-top: 5px;
    margin-bottom: 10px;
}

.thumbnail p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #000;
    font-size: 16px;
    width: 160px;
    margin-left: 10px;
    text-wrap:pretty;
}

.links {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
}

/** Menu */

.Menu {
    max-width: 1200px;
    width: 100%;
    height: 0px;
    padding: 16px 32px;
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: space-between;
    border-radius: 16px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 32px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}