:root {
    --backgroundCol: #fffaf0;
    --borderCol: rgb(98, 98, 98);
    --font: 'Gill Sans MT';
    --widthTransition: width 1.2s ease;
    --heightTransition: height 1.2s ease;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    font-size: .85vw;
    font-family: var(--font);
}

main {
    background-color: #ddd;
    min-height: 100vh;
    width: 100%;
}

.display {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.paper {
    background-color: var(--backgroundCol);
    display: flex;
    flex-direction: column;
    width: 0;
    margin-top: 2.6vw;
    margin-bottom: 2.6vw;
    padding: 2.34vw 0;
    height: fit-content;
    box-shadow: 0 0 0.52vw rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    transition: var(--widthTransition), var(--heightTransition);
    overflow: hidden;
    flex-shrink: 0;
}

.paperContent {
    height: fit-content;
    width: 100%;
    transition: var(--heightTransition);
    overflow: hidden;
    box-sizing: border-box;
}

.topContainer {
    padding-bottom: 0.4vw;
    height: 0;
    transition: var(--heightTransition);
}

.paperName {
    color: #87B072;
    font-family: var(--font);
    font-weight: 100;
    font-size: 2.25em;
    margin-top: 0.26vw;
    margin-bottom: 0.52vw;
    text-align: center;
    width: 0;
    height: 0;
    text-wrap: nowrap;
    overflow: hidden;
    transition: var(--widthTransition), var(--heightTransition);
}

.contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.52vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 0.875em;
    width: 0;
    height: auto;
    transition: var(--widthTransition), var(--heightTransition);
    text-wrap: nowrap;
    overflow: hidden;
}

.contacts a {
    color: #0000EE;
    text-decoration: underline;
    transition: var(--widthTransition);
    text-wrap: nowrap;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    width: 0;
}

.contacts span {
    color: #000;
}

.bottomContainer {
    height: fit-content;
    transition: var(--heightTransition);
    overflow: hidden;
}

.section {
    margin-bottom: 0.42vw;
    height: fit-content;
    overflow: visible;
    transition: var(--heightTransition);
}

.header {
    display: flex;
    justify-content: left;
    align-content: left;
    width: 100%;
    height: 0;
    padding: 0  2.34vw;
    transition: height 0.4s ease;
    overflow: hidden;
    text-wrap: nowrap;
}

.header p {
    font-family: var(--font);
    font-size: 0.9375em;
    letter-spacing: 0.1vw;
    font-weight: normal;
}

.header hr {
    flex-grow: 0;
    transition: flex-grow 1.6s ease;
    border: none;
    height: 1px;
    background-color: #70AD47;
    margin-left: 0.68vw;
    margin-top: 0.47vw;
}

.details {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 0.9375em;
    height: 0;
    overflow: hidden;
    transition: var(--heightTransition);
    padding-top: 0.16vw;
}

.item {
    width: 0;
    overflow: hidden;
    text-wrap: nowrap;
    transition: var(--widthTransition);
}

.item-title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 0.36vw;
}

.date {
    text-align: right;
}

.item-description {
    height: 0;
    padding-top: 0.29vw;
    padding-left: 5.4vw;
    padding-right: 5.4vw;
    letter-spacing: -0.016vw;
    transition: height 0.8s ease;
}

.item-description ul {
    list-style-type: disc;
    margin-left: 1.04vw;
    text-wrap: pretty;
    overflow: visible;
}

.item-description li {
    padding-bottom: 0.16vw;
    padding-top: 0.1vw;
}

.item-description p {
    margin-left: 0.26vw;
    line-height: 1.09vw;
}

button.collapsible {
    background: none;
    border: none;
    text-align: left;
    width: 47.93vw;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    box-sizing: content-box;
    margin-left: 4.68vw;
    margin-right: 4.68vw;
}

.button_arrow {
    font-size: 1.125em;
    font-weight: bold;
    float: left;
    margin-top: 0.31vw;
    margin-left: 0.78vw;
    height: 0;
    transition: height 1.8s ease;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.skills {
    text-align: center;
    margin-top: 0.26vw;
}

/** Menu */

.menuContainer {
    height: 80%;
    width: fit-content;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu {
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.menuTab {
    background-color: var(--backgroundCol);
    width: 0vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding-left: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    font-family: var(--font);
    box-sizing: content-box;
    transition: width 1.2s ease;
}

.menuTab p {
    padding: 11px 0 11px 10px;
    text-wrap: nowrap;
}

.menuTab:hover {
    cursor: pointer;
}

.menuTabFlag {
    height: 0;
    width: .5vw;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 90%, 0% 100%, 0% 0%);
    margin: 0 .3vw 0 0.4vw;
    box-shadow: 10px 10px rgba(0, 0, 0, 1);
    flex-shrink: 0;
    background-color: #a31818;
    transition: height 0.8s ease;
}

.menu img {
    width: 10vw;
    border-radius: 18px;
    border-style: solid;
    border-width: 3px;
    box-shadow: 0.2vw 0.2vw 2vw rgba(0, 0, 0, 0.7)
}

/** Resume Editor */

.resumeEditor {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 1vh;
    padding-top: 2vh;
}

.resumeToggle {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.3em;
    gap: 12px;
    font-family: var(--font);
    font-weight: 100;
}

.resumeToggle p {
    padding-bottom: 0px;
    width: 80px;
}
/* Base styles for the toggle switch */
.toggle-switch {
    display: none;
}

.toggle-switch + label {
    transition: .3s background;
    user-select: none;
    cursor: pointer;
    position: relative;
    display: inline-block;
    height: 2em;
    width: 4em;
    background: #ECECEC; /* Light grey */
    border-radius: 20em;
    vertical-align: middle;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .5);
}

.toggle-switch + label:before,
.toggle-switch + label:after {
    position: absolute;
    top: 0;
    left: 0;
}

.toggle-switch + label:before {
    transition: .3s left;
    content: '';
    display: inline-block;
    background: rgba(0, 0, 0, .5);
    height: 1.5em;
    width: 1.5em;
    margin: .25em;
    border-radius: 50%;
    z-index: 200;
}

.toggle-switch + label:after {
    color: #fff;
    font: 1.25em 'FontAwesome';
    top: 50%;
    margin-top: -.5em;
    left: 2em;
}

.toggle-switch:checked + label {
    background: #87B072; /* Blue */
}

.toggle-switch:checked + label:before {
    left: 2em;
}

.toggle-switch:checked + label:after {
    left: .5em;
}

.resumeForm {
    margin-top: 4em;
    margin-bottom: 4em;
    width: 41vw;
    color: #202020;
    display: flex;
    flex-direction: column;
}

.resumeFormHeader {
    display: flex;
    justify-content: left;
    align-content: left;
    width: 100%;
    transition: height 0.4s ease;
    overflow: hidden;
    text-wrap: nowrap;
    margin-top: 1vh;
}

.resumeFormHeader p {
    font-family: var(--font);
    font-size: 19px;
    letter-spacing: 0.1vw;
    font-weight: normal;
}

.resumeFormHeader hr {
    flex-grow: 1;
    transition: flex-grow 1.6s ease;
    border: none;
    height: 4px;
    background-color: #70AD47;
    margin-left: 12px;
    margin-top: 9px;
}

.resumeFormSectionDetails {
    padding: 0 4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2vh;
}

.resumeFormSectionDetailsEntry {
    display: flex;
    flex-direction: column;
    margin-top: 1.3vh;
    margin-bottom: -1vh;
}

.resumeFormSectionDetailsEntryHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    padding: 0 120px;
}

.resumeFormSectionDetailsEntryHeader hr {
    flex-grow: 1;
    border: none;
    height: 3px;
    background-color: black;
}

.resumeFormSectionDetailsEntryHeader p {
    font-size: 20px;
    margin: 0px 20px;
}

.resumeFormRow {
    display: flex;
    flex-direction: row;
    gap: 3vw;
    width: 33vw;
    overflow: visible;
    text-wrap: nowrap;
    font-size: 13px;
    flex-grow: 0;
}

.resumeFormRow input {
    outline: none;
    border: none;
    border-style: solid;
    border-color: gray;
    border-radius: 8px;
    border-width: 1px;
    height: 3.2vh;
    width: 15vw;
    font-family: var(--font);
    font-size: 14px;
    padding-left: .45vw;
    margin-top: 5px;
    margin-bottom: 20px;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, .5);
}

.resumeFormDetails {
    font-size: 13px;
}

.resumeFormDetails textarea {
    outline: none;
    border: none;
    border-style: solid;
    border-color: gray;
    border-radius: 8px;
    border-width: 1px;
    min-height: 100px;
    width: 33vw;
    font-family: var(--font);
    font-size: 14px;
    padding-left: .45vw;
    padding-top: .6vh;
    margin-top: 5px;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, .5);
    transition: none;
    resize: vertical;
    line-height: 19px;
}

.resumeFormList {
    font-size: 13px;
    margin-left: 2vw;
    margin-right: 2vw;
}

.resumeFormList textarea {
    outline: none;
    border: none;
    border-style: solid;
    border-color: gray;
    border-radius: 8px;
    border-width: 1px;
    min-height: 50px;
    height: auto;
    width: 33vw;
    font-family: var(--font);
    font-size: 14px;
    padding-left: .45vw;
    padding-top: .6vh;
    margin-top: 5px;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, .5);
    transition: none;
    resize: vertical;
    line-height: 19px;
}

.resumeFormEntryOptions {
    position: relative;
    left: 36vw;
    bottom: 50%;
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 10px;
}

button.resumeFormRemoveButton {
    color: red;
    align-self: center;
    padding: 5px;
    font-size: 13px;
    font-weight: 700;
    font-family: var(--font);
}

button.resumeFormAddButton {
    color: green;
    align-self: center;
    padding: 5px;
    font-size: 13px;
    font-weight: 700;
    font-family: var(--font);
    margin: 0 15px;
    margin-top: -1vh;
}

.resumeJsonButton {
    font-size: 12px;
    background-color: var(--backgroundCol);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    padding: 3px;
    font-family: var(--font);
    box-sizing: content-box;
    margin-bottom: 15px;
}